html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #383838;
}

.wrapper {
    display: flex;
    flex-direction: row;
}


span[data-draggable="item"] {
    display: block;
    list-style: none;
    padding: 0.5rem 1rem;

    border-radius: 4px;
    background-color: aquamarine;
}

.tasks {
    padding: 0;
    margin: 0; 
    position: relative;
    width: 20%;
    min-height: 100vh;
    
    background-color: aquamarine;
    box-shadow: 0 0 50px rgba(127, 255, 212, 0.7);
}

.tasks:after {
    content: "Tareas";
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 100% 90%;
    transform: rotateZ(-90deg);

    font-size: 4rem;
    opacity: 0.6;
}

.tasks__container {
    position: relative;
    height:100vh;
    width:100%;
    padding: 0;
    margin: 0;
}

.daily-planner {
    width: 80%;
    background-color: beige;
}

.daily-planner__container > span {
    text-align: center;
    display: inline-block;
    margin: 0.25rem;

    color: rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 50px rgba(127, 255, 212, 0.7);
}

.daily-planner__container {
    width: 100%;
    height: 100%;
}

.add-tasks {
    position: absolute;
    bottom: 10px;
    right: -25px;
    z-index: 999; 
}

.btn__add {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  position: relative;
  border-radius: 50%;
  
  background-color: rgba(127, 255, 212, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 50px rgba(127, 255, 212, 0.7);
  transition: 0.25s ease all;
}

.btn__add:focus {
  outline: none;
}

.btn__add:hover {
  cursor: pointer;
  transform: rotateZ(90deg)
}

.btn__add:before {
  content: "";
  position: absolute;
  top: 10%;
  left: calc(50% - 2px);
  display: block;
  width: 4px;
  height: 80%;
  background-color: white;
}

.btn__add:after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 10%;
  display: block;
  width: 80%;
  height: 4px;
  background-color: white;
}